.about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 3px solid black;
    /* border-left:3px solid black ;*/

    h3 {
        width: 588px;
        height: 90px;
        left: 176px;
        top: 1268px;
        font-weight: 300;
        font-size: $font-size-h3;
    }

    ul li {
        font-weight: 300;
        font-size: $font-size-h3;
    }

    &__information {
        flex-direction: column;
        margin-top: 8%;

        button {
            margin-top: 30px;
            width: 355px;
            height: 75px;
            background: #000000;
            border-radius: 25px;
            color: white;
            font-weight: 500;
            font-size: 25px;
        }
    }

    &__image {
        flex-direction: row;
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
