.banner {
    width: 100%;
    height: 697px;
    margin-top: 20px;
    background-image: url(../Images/WomanBanner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &Img2{
        background-image: url(../Images/WomanBanner2.jpg);
    }

    &__title {
        width: 40%;
        height: 40%;
        margin-left: 50px;
        padding-top: 80px;
        font-weight: 700;
        font-size: $font-size-title-banner;
        text-transform: uppercase;
        color: $secondary-color;
        
    }

    &--final {
        width: 100%;
        height: 600px;
        margin-top: 20px;
        background-image: url(../Images/WomanFooter.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--products {
        width: 100%;
        height: 600px;
        margin-top: 20px;
        background-image: url(../Images/bannerProducts.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &__title {
            width: 40%;
            height: 40%;
            margin-left: 50px;
            padding-top: 45px;
            font-weight: 700;
            font-size: $font-size-title-banner;
            text-transform: uppercase;
            color: $secondary-color;
            
        }
    }
}

//Big Mobile

@media (max-width: 576px) {
    .banner {
        width: 100%;
        height: 350px;

        &__title {
            width: 40%;
            padding-top: 50px;
            margin-left: 25px;
            font-size: $font-size-title-big-mobile-banner;
        }

        &--final {
            width: 100%;
            height: 260px;
        }
    }
}
