.btnPrimary {
    margin-top: 50px;
    width: 320px;
    height: 75px;
    background: $primary-color;
    border-radius: 25px;
    text-align: center;
    color: $secondary-color;
    font-weight: 600;
    font-size: $font-size-primary-bottom;
    border: none;

    &:hover {
        background: #4d4d4d;
    }

    &--background {
        margin-top: 30px;
        width: 355px;
        background: $secondary-color;
        color: $primary-color;
    }

    &:hover {
        background: #dddddd;
    }
    &--rating {
        margin-top: 20px;
    }

    &--small {
        margin-top: 0;
        width: 144px;
        height: 44px;
        background: $primary-color;
        border-radius: 20px;
        text-align: center;
        color: $secondary-color;
        font-weight: 600;
        font-size: $font-size-small-bottom;
        border: none;
    }

    &--marginBottom {
        margin-bottom: 30px;
    }
}

//Big Mobile
@media (max-width: 576px) {
    .btnPrimary {
        margin-top: 20px;
        width: 255px;
        height: 50px;
        font-size: $font-size-primary-bottom-big-mobile;

        &--rating {
            width: 320px;
            height: 65px;
        }

        &--background {
            width: 320px;
            height: 65px;
            margin-top: 70px;
        }

        &--small {
            width: 150px;
            height: 44px;
        }
    }
}
