.btnPrimary {
    margin-top: 50px;
    width: 320px;
    height: 75px;
    background: $primary-color;
    border-radius: 25px;
    text-align: center;
    color: $secondary-color;
    font-weight: 600;
    font-size: $font-size-primary-bottom;
    border: none;

    &:hover {
        background: rgb(59, 59, 59);
    }

    &--background {
        margin-top: 30px;
        width: 355px;
        background: $secondary-color;
        color: $primary-color;
        &:hover {
            background: #dddddd;
        }
    }

    &--rating {
        margin-top: 20px;
    }

    &--carrousel {
        border-radius: 0px;
        width: 100%;
        height: 75px;
        padding: 0px;
        margin-top: 20px;
    }

    &--small {
        margin-top: 0px;
        width: 144px;
        height: 44px;
    }

    &--marginBottom {
        margin-bottom: 30px;
    }

    &--shop {
        border-radius: 0px;
        width: 100%;
        height: 50px;
        padding: 0px;
        margin-top: 20px;
    }
    &--saveproduct {
        width: 250px;
        height: 50px;
    }

    &--payShop{
        width: 250px;
        height: 50px;
    }

    &--edit {
        border-radius: 0px;
        width: 100%;
        height: 50px;
        padding: 0px;
        margin-top: 20px;
    }

    &--login {
        width: 250px;
        height: 50px;
    }
    &--viewList {
        width: 190px;
        height: 44px;
        margin-top: 10px;
        font-size: 20px;
    }
    &--viewCart {
        width: 190px;
        height: 44px;
        margin-top: 10px;
        font-size: 20px;
    }

    &--viewCartV {
        width: 190px;
        height: 44px;
        margin-top: 10px;
        font-size: 20px;
    }

    &--return {
        width: 190px;
        height: 44px;
        margin-top: 5px;
        font-size: 20px;
    }


    &--goLogin {
        width: 190px;
        height: 44px;
        margin-top: 10px;
        font-size: 20px;
    }

    &--add {
        width: 310px;
        height: 55px;
        padding: 0px;
        margin-top: 20px;
    }

    &--pay {
        width: 310px;
        height: 55px;
        padding: 0px;
        margin-top: 20px;
    }

    &--then {
        width: 310px;
        height: 55px;
        padding: 0px;
        margin-top: 20px;
        background:$secondary-color ;
        color:  $primary-color;
        border: 2px solid black;
        &:hover {
            background: $primary-color;
            color: $secondary-color;
        }
    }
}

//Big Mobile
@media (max-width: 576px) {
    .btnPrimary {
        margin-top: 20px;
        width: 255px;
        height: 50px;
        font-size: $font-size-primary-bottom-big-mobile;

        &--rating {
            width: 320px;
            height: 65px;
        }

        &--background {
            width: 320px;
            height: 65px;
            margin-top: 70px;
        }

        &--carrousel {
            width: 100%;
            height: 30px;
            margin-top: 10px;
            font-size: $font-size-small-bottom-big-mobile;
        }

        &--small {
            width: 150px;
            height: 44px;
            font-size: $font-size-small-bottom-big-mobile;
        }

        &--shop {
            border-radius: 0px;
            width: 100%;
            height: 50px;
            padding: 0px;
            margin-top: 20px;
            font-size: $font-size-h2-big-mobile;
        }

        &--edit {
            border-radius: 0px;
            width: 100%;
            height: 50px;
            padding: 0px;
            margin-top: 20px;
            font-size: $font-size-h2-big-mobile;
        }
        &--login {
            margin-top: 31px;
            width: 340px;
            height: 62px;
            font-size: $font-size-h1-big-mobile;
            text-align: center;
            align-self: center;
        }

        &--saveproduct {
            margin-top: 31px;
            width: 340px;
            height: 62px;
            font-size: $font-size-h1-big-mobile;
            text-align: center;
            align-self: center;
        }

        &--goLogin {
            margin-top: 31px;
            width: 340px;
            height: 62px;
            font-size: $font-size-h1-big-mobile;
            text-align: center;
            align-self: center;
        }
    }
}
