.information {
    width: 100%;
    height: 100%;
    flex-direction: column;

    &__promotiontitle {
        width: 100%;
        height: 60px;
        background-color: $primary-color;
        color: $secondary-color;
        text-transform: uppercase;
        padding: 5px;
        display: flex;
        align-items: center;

        h1 {
            width: 100%;
            margin-left: 100px;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
            font-size: $font-size-h1;
        }
    }

    &__image {
        width: 75%;
        height: 57%;
    }

    &__title {
        width: 100%;
        height: 60px;

        background-color: $primary-color;
        color: $secondary-color;
        display: flex;
        align-items: center;

        h1 {
            margin-left: 100px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: $font-size-h1;
            font-weight: 100;
            color: $secondary-color;
        }
    }

    &__description {
        width: 72%;
        height: 20%;
        margin-left: 100px;

        h2 {
            margin-top: 30px;
            margin-bottom: 0;
            font-size: $font-size-h2;
            font-weight: 100;
            color: $primary-color;
        }
        h4{
            margin-top: 10px;
            margin-bottom: 0;
            font-size: $font-size-h4;
            font-weight: 400;
            color: $primary-color;
        }
        p {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: $font-size-p;
            font-weight: 100;
            color: $primary-color;
        }

        h3 {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: $font-size-h3;
            font-weight: 100;
            color: $primary-color;
        }

       
    }
}

//Big Mobile
@media (max-width: 576px) {
    .information {
        
       /* display: flex;
        align-items: center;*/
        margin-bottom: 60px;
        
        height: 100%;
        &__promotiontitle {
            width: 100%;
            height: 70px;
            justify-content: center;
            h1 {
                width: 100%;
                margin-left: 0px;
                font-size: $font-size-h1-big-mobile;
                text-align: center;
            }
        }

        &__image {
            align-self: center;
            width: 100%;
            height: 30%;
        }

        &__title {
            height: 70px;
            justify-content: center;
            h1 {
                margin-left: 0px;
                font-size: $font-size-h1-big-mobile;
                text-align: center;
               
            }
        }

        &__description {
            width: 80%;
            height: 21%;
            margin-left: 60px;
            
    
            h2 {
                margin-top: 50px;
                font-size:  $font-size-h2-big-mobile;
            }
            h4{
               
                font-size: $font-size-h4-big-mobile;
    
            }
            p {
               
                font-size: $font-size-p-big-mobile;
               
            }
    
            h3 {
            
                font-size: $font-size-h3-big-mobile;
    
            }
        }
    }


}
