.navigationbar {
    display: flex;
    padding: 30px;
    width: 100%;

   
}
.brand {
    width: 15%;
}
.optionsBar {
    display: flex;
    margin: auto;

    width: 70%;
    height: 28px;
    justify-content: flex-end;

    &__list {
        list-style: none;
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
    &__list li {
        font-size: 25px;
        
    }

    &__list a {
        text-decoration: none;
    }
 

    &__icons {
        width: 10%;
        height: auto;
        display: flex;
        justify-content: space-around;

        &--search {
            width: 100%;
            height: auto;
        }

        &--shopping {
            width: 90%;
            height: auto;
        }
    }
}


//Tablet
@media (max-width:992px){
    .brand {
        width: 20%;
    }

    .optionsBar {
        &__list {
            width: 50%;
        }
        &__list li {
            font-size: 22px;
        }
    
        &__icons {
           
            width: 15%;

            &--search {
                width: 90%;
                height: auto;
            }
    
            &--shopping {
                width: 80%;
                height: auto;
            }
        }
    }
    
    
}

//Big Mobile
@media (max-width: 768px){
    .navigationbar {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    
    }
    
    .brand {
        width: 35%;
        margin-top: 20px;
    }
    .optionsBar {
        display: flex;
        margin: auto;
        width: 100%;
        height: 28px;
        flex-direction: row;
        margin-top: 20px;
    
        &__list {
            list-style: none;
            width: 90%;
            display: flex;
        }
        &__list li {
            font-size: 22px;
        }
    
        &__icons {
           
            width: 15%;
            height: auto;
            display: flex;
            justify-content: space-around;
           
            &--search {
                width: 100%;
                height: auto;
            }
    
            &--shopping {
                width: 90%;
                height: auto;
            }
        }
    }
}