.navigationbar {
    display: flex;
    padding: 30px;
    width: 100%;

   
}
.brand {
    width: 15%;
}
.optionsBar {
    display: flex;
    margin: auto;

    width: 70%;
    height: 28px;
    justify-content: flex-end;

    ul {
        list-style: none;
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
    ul li {
        font-size: 22px;
    }

    &__icons {
        width: 10%;
        height: auto;
        display: flex;
        justify-content: space-around;
        /*
       
            img{
                width: 25%;
                height: auto;
            }
       
*/
        &--search {
            width: 100%;
            height: auto;
        }

        &--shopping {
            width: 90%;
            height: auto;
        }
    }
}
