.newsletter{
    width: 100%;
    height: 286px;
    display: flex;
    //flex-direction: row;

    &__image{
        width: 20%;
        height: 100%;
    }

    &__content{

        width: 25%;
        height: 100%;
        align-items: center;
        padding: 30px;

        h2{
           
            font-size: $font-size-h2;
            font-weight: 600;
            color: $primary-color;
            text-align: start;
    
        }

        h3{
            margin-top: 15px;
            font-size: $font-size-h3;
            font-weight: 100;
            color: $primary-color;
            text-align: start;
    
        }

        
    }

    &__subscription{
        width: 55%;
        height: 100%;
        padding: 40px;

        h3{
            margin-top: 15px;
            font-size: $font-size-h3;
            font-weight: 500;
            color: $primary-color;
            text-align: start;
            margin-bottom: 15px;
    
        }

        input{
            width:60%;
            height:44px;
            border-radius: 25px;
            border-color:$primary-color;
            font-size: 15px;
            padding-left: 30px;

            &::placeholder {
                color: rgb(90, 90, 90);
                font-size: 15px;
                font-family: $primary-font;
              }

              
        }
       
        
            
    }
    
}