.order {
    width: 100%;

    &__title {
        font-size: $font-size-h3;
        font-weight: 500;
        margin-top: 60px;
        text-align: center;

        &--receipt {
            text-align: left;
        }
    }

    &__subtitle {
        font-size: $font-size-h4;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__receipt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    &__info {
        border-bottom: 1px solid rgb(182, 182, 182);
        width: 50%;
    }

    &__totalProducts {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 20px;
    }

    &__totalProductsO {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 20px;
    }

    &__subtotal {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 20px;
    }

    &__total {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 20px;
    }

    &__totalO {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 20px;
    }
}

.orderProduct {
    width: 80%;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;

    &__imgContainer {
        width: 280px;
        height: 300px;
        padding: 10px;
        display: flex;
    }
    &__img {
        //width: 280px;
        /// height: 300px;
        width: 100%;
        //background-color: rebeccapurple;
        object-fit: contain;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__delete {
        width: 20px;
        display: flex;
        //margin-left: 270px;
        top: 22px;
        right: 27px;
        position: absolute;
    }
    &__title {
        font-size: $font-size-h3;
        font-weight: 500;
        margin-top: 20px;
    }
    &__brand {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 5px;
    }
    &__type {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 5px;
    }
    &__color {
        font-size: $font-size-h4;
        font-weight: 300;
        margin-top: 5px;
    }

    &__price {
        font-size: $font-size-h4;
        font-weight: 500;
        margin-top: 5px;
    }

    &__content {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }
}

.politics {
    width: 90%;

    &__title {
        font-size: $font-size-h3;
        font-weight: 500;
        margin-top: 50px;
    }

    &__text {
        font-size: $font-size-h4-big-mobile;
        font-weight: 300;
        margin-top: 10px;
    }
}

.buttonsContent {
    display: flex;
    flex-direction: column;
}

.requirement__title {
    font-size: $font-size-h3;
    font-weight: 300;
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 576px) {
    .order {
        width: 100%;

        &__subtitle {
            font-size: 22px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__total {
            font-size: 22px;
            font-weight: 300;
            margin-top: 20px;
        }

        &__totalProducts {
            font-size: 22px;
            font-weight: 300;
            margin-top: 20px;
        }

        &__totalProductsO {
            font-size: 22px;
            font-weight: 300;
            margin-top: 20px;
        }

        &__totalO {
            font-size: 22px;
            font-weight: 300;
            margin-top: 20px;
        }

        &__info {
            border-bottom: 1px solid rgb(182, 182, 182);
            width: 55%;
        }
    }
}
