.reasons {
    display: flex;
    flex-direction: column;
    //align-items: center;
    width: 90%;
    height: 80%;
    border-left: 3px solid black;
    //flex-flow: column wrap;

    h2 {
        font-weight: 500;
        font-size: $font-size-h2;
        margin-top: 60px;
        text-align: start;
        margin-left: 100px;
    }

    &__items {
        display: flex;
        flex-direction: row;
        //justify-items: center;
        justify-content: space-around;
        width: 90%;
        margin-top: 80px;
        margin-left: 100px;

        h3 {
            font-weight: 600;
            font-size: $font-size-h3;
            text-align: center;
        }

        p {
            margin-top: 10px;
            font-weight: 300;
            font-size: $font-size-h4;
            text-align: center;
        }

        div {
            display: inline-block;
            //justify-content: center;
            width: 33%;
            text-align: center;
            margin-bottom: 190px;
        }
    }
}

//Celular grande
@media (max-width: 768px) {
    .reasons {
        height: 100%;


        &__items {
            flex-flow: column wrap;
            align-items: center;
            margin-left: 0px;
            width: 100%;

            div {
              
                width: 55%;
                text-align: center;
                margin-bottom: 60px;
            }
        }
    }
}
