.row {
    display: flex;
    width: 100%;

    &__col {
        &--2 {
            width: 50%;
        }

        &--3 {
            width: 33.3%;
        }

        &--bg {
            background-color: $primary-color;
        }
    }

    &--final {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 576px) {
    .row {
        display: flex;
        flex-direction: column;

        &__col {
            &--2 {
                width: 100%;
                align-items: center;
            }

            &--bg {
                width: 100%;
                align-items: center;
            }
        }

        &--final {
            display: flex;
            flex-direction: row;
        }
    }
}
