.row{
    display: flex;
    width: 100%;
    
    &__col{
     

        &--2{
            width: 50%;
        }

        &--3{
            width: 33.3%;
           // padding: 30px;
            //height: 100%;
        }


        &--bg{
            background-color: $primary-color;
        }
        
    }

}