@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px;
  width: 100%;
  height: 100vh;
}

.navigationbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin: auto;
}

.optionsBar {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 30%;
  height: 28px;
  left: 731px;
  top: 66px;
}

.optionsBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.optionsBar ul li {
  display: inline-block;
  font-size: 22px;
  margin: 22px;
}

.container {
  width: 100%;
  height: 100%;
  /*
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;*/
}

.banner {
  width: 100%;
  height: 697px;
  margin-top: 20px;
  background-image: url(/Images/WomanBanner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  width: 40%;
  height: 40%;
  margin-left: 5%;
  margin-top: 2%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.searchIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1260px;
  top: 60px;
}

.buyIcon {
  position: absolute;
  width: 29px;
  height: 35px;
  left: 1321px;
  top: 55px;
}

.about {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 3px solid black;
  /* border-left:3px solid black ;*/
}

.about h3 {
  width: 588px;
  height: 90px;
  left: 176px;
  top: 1268px;
  font-weight: 300;
  font-size: 25px;
}

.about ul li {
  font-weight: 300;
  font-size: 25px;
}

.about__information {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8%;
}

.about__information button {
  margin-top: 30px;
  width: 355px;
  height: 75px;
  background: #000000;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.about__image {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 100%;
}

.about__image img {
  width: 100%;
  height: 100%;
}

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.reasons h2 {
  font-weight: 500;
  font-size: 30px;
}

.reasons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin-top: 80px;
}

.reasons__items h3 {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.reasons__items h4 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.reasons__items div {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  text-align: center;
}

.product {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
    &__promotiontitle {
        width: 50%;
        height: 70px;
        background-color: $primary-color;
        color: $secondary-color;
        text-transform: uppercase;
        padding: 5px;
        display: flex;
        align-items: center;
        

        h1 {
            height: 100%;
            width: 100%;
            margin-left: 100px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: $font-size-h1;
        }
    }

    &__image {
        width: 40%;
        height: 70%;
    }

    &__title {
        width: 50%;
        height: 70px;
        background-color: $primary-color;
        color: $secondary-color;

        h1 {
            margin-left: 100px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: $font-size-h1;
            font-weight: 100;
            color: $secondary-color;
        }
    }

    &__information {
        width: 44%;
        height: 20px;
        margin-left: 100px;

        h2 {
            font-size: $font-size-h2;
            font-weight: 100;
            color: $primary-color;
        }

        h4 {
            font-size: $font-size-h4;
            font-weight: 100;
            color: $primary-color;
        }

        h3 {
            font-size: $font-size-h3;
            font-weight: 100;
            color: $primary-color;
        }
    }

    &__rating{

        flex-direction: column;
        width: 50%;
        height: 50%;
    }*/
}

.product__information {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__information__promotiontitle {
  width: 50%;
  height: 70px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__information__promotiontitle h1 {
  height: 100%;
  width: 100%;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
}

.product__information__image {
  width: 40%;
  height: 70%;
}

.product__information__title {
  width: 50%;
  height: 70px;
  background-color: black;
  color: white;
}

.product__information__title h1 {
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 100;
  color: white;
}

.product__information__description {
  width: 44%;
  height: 20px;
  margin-left: 100px;
}

.product__information__description h2 {
  font-size: 30px;
  font-weight: 100;
  color: black;
}

.product__information__description h4 {
  font-size: 20px;
  font-weight: 100;
  color: black;
}

.product__information__description h3 {
  font-size: 25px;
  font-weight: 100;
  color: black;
}
/*# sourceMappingURL=main.css.map */