@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


    $primary-color: black;
    $secondary-color: white;
    $primary-font: "Montserrat",sans-serif;
    $font-size-h1: 35px;
    $font-size-h2: 30px;
    $font-size-h3: 25px;
    $font-size-h4: 20px;



@import 'reset';
@import '_general';
@import '_body';
@import '_navigationbar';
@import '_container';
@import '_banner';
@import '_btn';
@import '_about';
@import '_reasons';
@import '_row';
@import '_information';
@import '_rating';
@import '_interaction';
@import '_specification';
@import '_barbrand';
@import '_newsletter';
@import '_finalcontent';


